<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location= "classpath:application.properties"/>

    <!-- Define your beans here -->

    <bean id="databaseOperation" class="DatabaseOperation">
        <constructor-arg value="${database.url}"/>
        <constructor-arg value="${database.username}"/>
        <constructor-arg value="${database.password}"/>
    </bean>

    <bean id="car" class="Car">
        <constructor-arg ref="databaseOperation"/>
        <constructor-arg value="Toyota"/>
    </bean>

    <bean id="plane" class="Plane">
        <property name="databaseOperation" ref="databaseOperation"/>
        <property name="brand" value="Boeing"/>
    </bean>

</beans>